.App {
  background-color: #282c34;
  min-height: 100vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#footer {
  min-height: 30px;
}

.row {
  display: flex;
}

.column {
  flex: 50%
}

input#coor {
  width: 40%;
}

.hiding {
  display: none;
}

legend {
  align: center;
}

ol {
  padding: 0;
    margin-left: 1em;
  word-wrap: break-word;
}

/* li {
  background-color: red;
} */

/* Don't work :( */
@media screen and (max-width: 500px) {
  img {
    width: 90%;
  }
}
