.App {
  background-color: #282c34;
  min-height: 100vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

input#coor {
  width: 40%;
}

img {
  max-width: 95%;
}

@media screen and (min-width: 701px) {
  hr {
    max-width: 75%;
  }
}

@media screen and (max-width: 700px) {
  hr {
    max-width: 95%;
  }
}

a:link {
  color:cornflowerblue;
}

a:visited {
  color:darkslategray
}

/* checkboxes */
.hiding {
  display: none;
}

legend {
  margin-right: auto;
  margin-left: auto;
}

fieldset {
  border-radius: 5px;
}

.row {
  display: flex;
}

.column {
  flex: 50%
}
/* end checkboxes */

#footer {
  min-height: 30px;
  font-size: calc(5px + 2vmin);
}